.tsjt_base {
  line-height: 1.4em;
  font-size: 11px;
  font-weight: 400;
  font-family: "Lucinda console", Monaco, monospace;
}
.tsjt_Num {
    color: #D036D0;
    font-weight: 600;
}

.tsjt_string {
    color: #3db62d;
    font-weight: 600;
}

.tsjt_boolean {
    color: #2525CC;
    font-weight: 600;
}

.tsjt_Object, .tsjt_Array {
  margin: 0 0 0 20px;
  padding: 0px;
}

.tsjt_li {
  display: table;
  position: relative;
  list-style-type: none;
}

.tsjt_li:after {
  content: ","
}
li:last-child:after {
  content: ""
}

.tsjt_collapser {
  float: left;
  cursor: pointer; 
}

.tsjt_collapser_small {
  cursor: pointer;
}

.tsjt_spacer {
  margin-right: 4px;
}

.tsjt_svg { 
  height: 1.4em;
  width: 1.4em;
}
.tsjt_svg_circle {
  fill: transparent;
  stroke-width: 2;
}

.tsjt_svg_line {
  stroke-width: 2;
}

.tsjt_svg_container {
  height: 1.4em;
  display: inline-flex;
  vertical-align: bottom;
  position: relative;
}

.tsjt_svg_container.right {
  position: absolute;
  margin-left: 1em;
  cursor: pointer;
}
